body{
  font-family: 'Open Sans', sans-serif;
  background-color: #ebebe0;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #cc6666;
}
h2{
  font-family: 'Yrsa', sans-serif;
  font-size: 28px;
  color: #990000;
  margin-bottom: 15px;
  margin-top: 50px;
  padding-left: 25px;
  padding-bottom: 10px;
  border-bottom: 5px solid #e60000;
}
span{
  color: #ff0000;
}
hr{
  border: 1px solid #b30000;
  margin-left: 10px;
  margin-right: 10px;
}
p{
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #330000;
}
section{
  margin-top: 18px;
}
header nav{
  font-family: 'Roboto', sans-serif;
  float: right;
}
nav li a{
  color: #990000;
  font-size: 20px;
  margin-right: 20px;
}
a:hover{
  color: #ff0000;
  text-decoration: none;
}
.right-side.nav{
  margin-top: 10px;
  float: right;
}
.container.second{
  padding-left: 0;
  padding-right: 0;
}
.breadcrumb-item+.breadcrumb-item{
  padding-left: 0;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    color: #6c757d;
    content: " ";
    padding-right: 0;
}
.breadcrumb{
  background-color: #ebebe0;
}
.left-side{
  float: left;
  width: 30%;
}
.right-side{
  float: right;
  width: 70%;
}
.article-block{
  border: 1px solid #ebebe0;
  background-color: white;
}
.row.width{
  padding-top: 10px;
  padding-bottom: 10px;
}
.clearfix:after,
.clearfix::before{
  content: ' ';
  display: table;
  clear: both;
  line-height: 0;
  font-size: 0;
}
p.paragraph{
  background-color: #ebebe0;
  text-align: justify;
}
.fab{
  font-size: 65px;
  color: #ff944d;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.fab:hover{
  color: #ff8533;
}
.row.footer{
  background-color: #33001a;
  margin: 0;
}
p.paragrafas{
  color: white;
  line-height: normal;
}
.background{
  background-color: #33001a;
  height: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer nav ul{
  list-style-type: none;
  display: inline-block;
}
footer nav ul li{
  display: inline-block;
}
footer nav li a{
  color: white;
  font-size: 14px;
  text-decoration: underline;
}
footer nav li a:hover{
  color: grey;
  text-decoration: none;
}
